<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3> Hi {{data.username}}!! </h3>

    <p> This is your token for change your password: {{data.resetPasswordToken}} </p>
    <p> Put it in the next step </p>
    <a href="http://localhost:4000/NewPass"> <button> Next step </button>  </a>
</body>
</html>